

CLIENT_GATEWAY_PORT=3000


PAYMENTS_MS_PORT=3003

STRIPE_SECRET=sk_


STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

STRIPE_ENDPOINT_SECRET=wh

AUTH_DATABASE_URL=mongodb+srv://<>:<>@auth-microservice-db.moqrkht.mongodb.net/AuthDB

JWT_SECRET=zzz

ORDERS_DATABASE_URL=postgresql://